@import "../../GlobalVars.scss";

.icon-text-button:hover {
    color: $text-color;
    border: 1.5px solid $text-color;
    background: $background-gradient;
}

.icon-text-button {
    height: 35px;
    min-width: 80vw;
    margin-right: 10px;
    max-width: 500px;
    display: grid;
    grid-template-columns: 25px auto;
    font-size: medium;
    background-color: transparent;
    color: $secondary-color;

    border-radius: 6px;
    border: 1.5px solid $secondary-color;
    box-sizing: border-box;
    -webkit-transition: 0.5s;
    transition: 0.5s;

    img {
        grid-column-start: 1;
        grid-column-end: 2;
        width: 25px;
        height: 25px;
    }

    p {
        grid-column-start: 2;
        grid-column-end: 3;
        margin: auto 0;
        margin-left: 10px;
        text-align: left;
    }

}