@import '../../GlobalVars.scss';

.create-event-code-page {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    background-color: $background-color;
    color: $text-color;
    font-family: $font;
}

.create-event-code-title {
    font-size: $title-font-size;
    margin-bottom: 18px;
    background: $background-gradient;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
    margin-left: 30px;
}