@import '../../GlobalVars.scss';

.create-event-playlist-page {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    background-color: $background-color;
    color: $text-color;
    font-family: $font;
}

.create-event-playlist-title {
    font-size: $title-font-size;
    text-align: left;
    margin-bottom: 18px;
    background: $background-gradient;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
    margin-left: 30px;
}

.centered-box {
    width: 100%;
    align-self: flex-start;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    .dots:last-of-type{
        margin-top: auto;
    }
}

.create-event-playlist-input {
    margin-top: 0px;
    margin-bottom: 0px;
    height: 40px;
    width: 80%;
    background-color: transparent;
    color: $secondary-color;
    font-size: 20px;
    padding-left: 10px;
    border-radius: 6px;
    border: 1.5px solid $secondary-color;
    box-sizing: border-box;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    outline: none;
    margin-bottom: 35px;
}

.create-event-playlist-input:focus {
    border: 1.5px solid $text-color;
}

.create-event-playlist-arrow {
    margin-bottom: 480px;
}