@import '../../GlobalVars.scss';

.song {
    display: grid;
    margin: 5px;
    grid-template-columns: 60px auto;
    grid-template-rows: 40px auto;
    width: 100%;
    color: $text-color;

    img {
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 1;
        grid-row-end: 3;
        width: 50px;
        height: 50px;
        margin: auto 0;
    }

    .song-info {
        grid-column-start: 2;
        grid-column-end: 3;
        grid-row-start: 1;
        grid-row-end: 3;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        display: block;
        width: calc(95%);
        color: $text-color;

        .title {
            text-align: left;
            width: 100%;
            margin: auto 0;
            font-size: 24px;
            font-weight: 550;
            color: $text-color;
        }

        .artist {
            text-align: left;
            grid-row-start: 2;
            grid-row-end: 3;
            margin: auto 0;
            font-size: 15px;
            font-weight: 200;
        }
    }
}