@import '../../GlobalVars.scss';

.create-event-page {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    background-color: $background-color;
    color: $text-color;
    font-family: $font;
}

.create-event-title {
    font-size: $title-font-size;
    margin-top: 60px;
    margin-bottom: 18px;
    color: #4B8BD7;
    margin-left: 30px;
}

.create-event-subtitle {
    font-size: 25px;
    margin-top: 0px;
    margin-bottom: 0px;
    color: #FFFFFF;
    margin-left: 30px;
    margin-right: 30px;
}

.create-event-spotify-logo {
    height: 190px;
    width: 190px;
    margin-top: 170px;
    margin-bottom: 260px;
    margin-left: auto;
    margin-right: auto;
}

.create-event-code-page {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    background-color: $background-color;
    color: $text-color;
    font-family: $font;
}

.create-event-code-title {
    font-size: $title-font-size;
    margin-top: 60px;
    margin-bottom: 18px;
    color: #4B8BD7;
    margin-left: 30px;
}

.create-event-playlist-page {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    background-color: $background-color;
    color: $text-color;
    font-family: $font;
}

.create-event-playlist-title {
    font-size: $title-font-size;
    margin-top: 60px;
    margin-bottom: 18px;
    color: #4B8BD7;
    margin-left: 30px;
}

.create-event-playlist-subtitle {
    font-size: 25px;
    margin-top: 0px;
    margin-bottom: 0px;
    color: #FFFFFF;
    margin-left: 30px;
    margin-right: 30px;
}

.centered-box {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.create-event-playlist-input {
    margin-top: 35px;
    height: 40px;
    width: 80%;
    background-color: #2F2F2F;
    color: white;
    font-size: 20px;
    padding-left: 10px;
    border-radius: 4px;
    margin-bottom: 35px;
}

.create-event-playlist-arrow {
    margin-bottom: 480px;
}

.code-display {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-bottom: 40px;
}

.digit {
    background-color: $background-color;
    font-size: 30px;
    font-weight: 700;
    border: 1.75px solid white;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 12px;
    margin: 12px;
}

.code-subtitle {
    margin-top: 20px;
    margin-left: 30px;
    font-size: 28px;
}

.code-steps {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 215px;
}

.code-step {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.code-step-icon {
    height: 35px;
    width: 35px;
    margin-right: 20px;
}

.code-step-text {
    font-size: 18px;
}

.dashboard-arrow {
    margin: 0 auto 50px auto;
}