@import '../../GlobalVars.scss';

.wrapper {
    display: block;
}

.search {
    display: table-cell;
    vertical-align: middle;
    padding: 5px;
    width: 100%;
    justify-content: center;

    .title {
        text-align: left;
        margin: 0;
        padding: 5px;
        font-size: $title-font-size;
        background: $background-gradient;
        -webkit-text-fill-color: transparent;
        -webkit-background-clip: text;
        background-clip: text;
    }

    form {
        display: grid;
        width: 100vw;
        margin: 0 auto;
        grid-template-columns: 30px auto;

        .search-icon {
            grid-column-start: 1;
            grid-column-end: 2;
            width: 20px;
            margin: auto 0 auto 3px;
        }

        .search-songs {
            width: 90%;
            padding: 3px;
            border-radius: 6px;
            border: 1.5px solid $secondary-color;
            box-sizing: border-box;
            -webkit-transition: 0.5s;
            transition: 0.5s;
            outline: none;
            grid-column-start: 2;
            grid-column-end: 3;
            background-color: transparent;
            font-size: 20px;
            color: $secondary-color;
        }

        .search-songs:focus {
            border: 1.5px solid $text-color;
        }
    }
}

.other-actions {
    margin: 5px 5px 0px 5px;
    position: absolute;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    align-items: center;
    gap: 10px;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    background-color: $background-color;
    z-index: 2;
    .queue {
        grid-row-start: 1;
        grid-row-end: 2;
    }

    .vote {
        grid-row-start: 2;
        grid-row-end: 3;
    }
}

.search-results {
    max-height: 700px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    overflow: scroll;
}