
$text-color: #FFFFFF;
$secondary-color: #B0B0B0;
$background-color: #1D1D1D;
$title-font-size: 40px;
$subtitle-font-size: 30px;
$paragraph-font-size: 24px;
$font: sans-serif;
$header-height: 60px;
$background-gradient: conic-gradient(from 180deg at 50% 50%, #A5C9F4 0deg, rgba(255, 255, 255, 0.8) 225deg, #A5C9F4 360deg);